/*----------------------------------------------
Global
----------------------------------------------*/

@use "../utils/variables" as *;

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background: #e5e5e5;
}

.page {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: $white;
}
