//----------------------------------------------
//Variables
//----------------------------------------------*/

// Colors
$base-green: #3bb77e;
$light-green: #def9ec;
$grey: #adadad;
$black: #253d4e;
$white: #fff;

// Fonts
$font-family: "Quicksand", sans-serif;
$font-size: 16px;
